<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{#> layout page_name='Редактировать студента'}}
        {{#*inline "content"}}

        {{/inline}}
        {{#*inline "right-block"}}

        {{/inline}}
    {{/layout}}
</body>
</html>
